
PixelArena/Saved/Config/Windows/EditorPerProjectUserSettings.ini

PixelArena/Saved/AutoScreenshot.png

PixelArena/Saved/Config/Windows/Engine.ini

PixelArena/Intermediate/CachedAssetRegistry.bin

PixelArena/Saved/Autosaves/PackageRestoreData.json
